p {  font-size: 12px; line-height: 25px; font-family: "ＭＳ Ｐゴシック", "Osaka"; margin-top: auto; padding-top: 10px}
li { font-size: 12px; line-height: 12px; font-family: "ＭＳ Ｐゴシック", "Osaka"; margin-top: auto; padding-top: 10px }
td {  font-size: 12px}
